In [1]:
import simpledbf

In [2]:
id_to_name =simpledbf.Dbf5("inputs/PHL_adm1.dbf").to_dataframe().set_index("ID_1")["NAME_1"]

In [3]:
id_to_name.head()

ID_1
1                Abra
2    Agusan del Norte
3      Agusan del Sur
4               Aklan
5               Albay
Name: NAME_1, dtype: object

In [4]:
import pandas as pd

In [6]:
coastflood_data = pd.read_csv("inputs/phl_pop_flooded_0301.csv")
coastflood_data = coastflood_data.set_index(coastflood_data.id_1.replace(id_to_name))
coastflood_data.rename(columns=dict(pop_sum_adm="pop_landscan", pop_flooded_adm="pop_flooded", per_pop_flooded})

                     id_1  pop_sum_adm  pop_flooded_adm  per_pop_flooded
id_1
Abra                    1       279104         0.000000         0.000000
Agusan del Norte        2       704064     70048.438000         0.099492
Agusan del Sur          3       798685      8112.882300         0.010158
Aklan                   4       556987     61929.047000         0.111186
Albay                   5      1455600     13530.880000         0.009296
Antique                 6       669058     44141.035000         0.065975
Apayao                  7       115576         0.000000         0.000000
Aurora                  8       221524      6587.643600         0.029738
Basilan                 9       450067      5707.662600         0.012682
Bataan                 10       711467      4568.708000         0.006422
Batanes                11        14069         0.741219         0.000053
Batangas               12      2510543     12635.115000         0.005033
Benguet                13       781496         0.000000         0.000000
Biliran                14       186233     14533.724000         0.078041
Bohol                  15      1503745     57809.148000         0.038443
Bukidnon               16      1488065       259.767820         0.000175
Bulacan                17      3603104      9565.397500         0.002655
Cagayan                18      1333340     28935.383000         0.021701
Camarines Norte        19       631656     38504.563000         0.060958
Camarines Sur          20      2076414    110380.750000         0.053159
Camiguin               21       100544      3921.251700         0.039000
Capiz                  22       876490     44500.527000         0.050771
Catanduanes            23       288833      8529.752000         0.029532
Cavite                 24      2450543    125910.340000         0.051381
Cebu                   25      4480904    167113.810000         0.037295
Compostela Valley      26       654883      5895.936000         0.009003
Davao del Norte        27      1187840       729.839600         0.000614
Davao del Sur          28      2591657     25479.889000         0.009832
Davao Oriental         29       598388     11850.540000         0.019804
Dinagat Islands        30       107986      1868.335200         0.017302
...                   ...          ...              ...              ...
North Cotabato         53      1300638         0.000000         0.000000
Northern Samar         54       687205     48761.688000         0.070957
Nueva Ecija            55      2116550         0.000000         0.000000
Nueva Vizcaya          56       494247         0.000000         0.000000
Occidental Mindoro     57       477155     17546.066000         0.036772
Oriental Mindoro       58       898005     50520.863000         0.056259
Palawan                59       944646     67074.617000         0.071005
Pampanga               60      2525755      1139.681800         0.000451
Pangasinan             61      2954266     22641.125000         0.007664
Quezon                 62      2263682     59038.273000         0.026081
Quirino                63       167140         0.000000         0.000000
Rizal                  64      2587492         0.000000         0.000000
Romblon                65       356250     19051.996000         0.053479
Samar                  66       820423     26346.123000         0.032113
Sarangani              67       631556      9714.833000         0.015382
Shariff Kabunsuan      68       508539     86015.430000         0.169142
Siquijor               69       110117      9380.717800         0.085189
Sorsogon               70       873501     30410.334000         0.034814
South Cotabato         71      1425490        41.414425         0.000029
Southern Leyte         72       494619     10266.299000         0.020756
Sultan Kudarat         73       722635      6697.418500         0.009268
Sulu                   74       815428    140017.670000         0.171711
Surigao del Norte      75       538887     20691.367000         0.038396
Surigao del Sur        76       643705     17175.035000         0.026682
Tarlac                 77      1363157         0.000000         0.000000
Tawi-Tawi              78       402536    151968.500000         0.377528
Zambales               79       860632      9847.162100         0.011442
Zamboanga del Norte    80      1109759     26842.572000         0.024188
Zamboanga del Sur      81      2014690     45303.340000         0.022487
Zamboanga Sibugay      82       615179      4763.725600         0.007744

[82 rows x 4 columns]

In [13]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.